html,body{
    overflow: hidden;
    max-width: 1200px;
    max-height: 680px;
    padding: 0px;
    margin: 0px;  background-image: url("../artwork/background2.jpeg");
    background-size: cover;
}
.wrapper {
    position: absolute;
    height: 630px;
    width: 1000px;
    margin-top: 45px;
    margin-left: 45px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}
.main section  {
    overflow: hidden;
    box-shadow:0px 0px 50px 10px #000000 inset;
}
.settingMenuHide{
    position: absolute;
    height: 650px;
    width:1200px;
    margin-top: 15px;
    display: block;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    box-shadow:0px 0px 50px 10px rgb(0, 0, 0) inset;
    -webkit-transform: translateX(-1200px);
    opacity: 0;
    -webkit-transition:opacity 1s, background-color 0.5s, -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.settingMenuShow{
    position: absolute;
    z-index: 10;
    display: block;
    -webkit-transform: translateX(-100px);
    background-color: rgba(0, 4, 4, 0.8);
    opacity: 1;
    -webkit-transition:opacity 1s, background-color 0.5s, -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.settingButtonClose{
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    -webkit-transform: translateX(0px);
    -webkit-transition:background-color 1s,box-shadow 1s, -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55),margin-top 0.5s ease 1s;
    border-radius: 80px;
    box-shadow:10px 10px 20px 10px #ffffff inset;
    background-color: #040404;
}
.settingButtonOpen{
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 302.5px;
    float: left;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    -webkit-transform: translateX(1025px);
    -webkit-transition:background-color 1s,box-shadow 1s, margin-top 1s ease, -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 80px;
    box-shadow:0px 0px 20px 10px #000404 inset;
    color: #ffffff;
}

.menu{
    position: absolute;
    float: left;
    height: 100%;
    width: 100px;
    margin-left: 100px;
    background-color: #1c1c1c;
    z-index: 100;
    box-shadow:0px 0px 50px 10px #c1c1c1 inset;
    border-radius: 10px;
}
.menu ul {
    margin: 0;padding: 20px 0;list-style: none;
}
.menu li {
    margin: 0;
    padding: 0;
}
.menu a {
    text-decoration: underline;
    display: block;
    padding: 10px 20px;
    color:white;
}
.settingContent{
    margin-left: 200px;
    margin-right: 75px;
    width: 925px;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}
.content {
    position: absolute;
    margin: 0 auto;
    width: 900px;
    padding-left: 25px;
    font-size: 18px;
    -webkit-transform: translateX(125%);
    opacity: 0;
    -webkit-transition:opacity ease-in 1s 0.5s,background 0.5s ease 1s, -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s;
}
.idces_is_visible .idces,
.wifi_is_visible .wifi,
.device_is_visible .device,
.setting_is_visible .setting,
.buy_is_visible .buy{
    -webkit-transform: translateX(0);
    z-index: 99;
    opacity: 1;
}
p{
    color:white;
}
h1{
    color:white;
}

