html,body{
    overflow: hidden;
    max-width: 1200px;
    max-height: 680px;
    padding: 0px;
    margin: 0px;
    background-image: url("../artwork/background.jpg");
    background-size: cover;

}
.wrapper {
    position: absolute;
    height: 630px;
    width: 1000px;
    margin-top: 25px;
    margin-left: 100px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}
.main section  {
    overflow: hidden;
    box-shadow:0px 0px 50px 10px #000000 inset;
}
.settingMenuHide{
    position: absolute;
    height: 650px;
    width:1200px;
    margin-top: 15px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow:0px 0px 50px 10px rgb(0, 0, 0) inset;
    -webkit-transform: translateX(-1125px);
    border-bottom-right-radius: 75px;
    border-top-right-radius: 75px;
    -webkit-transition: border-bottom-right-radius 0.5s, border-top-right-radius, background-color 0.5s, -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.settingMenuShow{
    position: absolute;
    z-index: 10;
    -webkit-transform: translateX(-100px);
    background-color: rgba(0, 4, 4, 0.8);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transition: border-bottom-right-radius 0.5s, border-top-right-radius, background-color 0.5s, -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#settingButton{
    width: 75px;
    height: 100%;
    float: right;
    background-color: rgba(255, 255, 255, 0.4);
}


